---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - dns.dnspolicies.io
  resources:
  - dnspolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dns.dnspolicies.io
  resources:
  - dnspolicies/finalizers
  verbs:
  - update
- apiGroups:
  - dns.dnspolicies.io
  resources:
  - dnspolicies/status
  verbs:
  - get
  - patch
  - update
