apiVersion: dns.dnspolicies.io/v1alpha1
kind: DnsPolicy
metadata:
  name: dnspolicy-sample-identity-ops
spec:
  # TargetSelector defines which pods this policy applies to
  # The controller will compute a hash of these labels for efficient lookups
  subject:
    serviceAccount: osman
  # AllowList defines domain patterns that are allowed
  allowList:
    - "*.example.com"
    - "api.trusted-service.io"
    - "*.googleapis.com"

  # BlockList defines domain patterns that are blocked
  blockList:
    - "*.malicious-site.com"
    - "tracking.ads.net"
